body {
    margin: 0;
    padding: 0;
}

.text {
    color: blue;
}

header {
    max-width: 100%;
    background: red;
    color: blue;
    nav {
        min-width: 600px;
        max-height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 10%;
        ul {
            display: flex;
            justify-content: space-evenly;
            li {
                width: 33%;
                list-style: none;
            }
        }
    }
}