* {
    box-sizing: border-box;
}
.nav {
    min-height: 50px;
    background-color: black;
    display: inline-flex;
    width: 100%;
}
.ul {
    display: inline-flex;
    width: 100%;
}
li {
    border-right: 1px solid #bbb;
    color: white;
    padding: 5px;
    list-style-type: none;
    width: 100%;
    text-align: center;
}
.img1 {
    padding: .5px;
    height: 20px;
    width: 75px;
}
.leftTitle {
    color: #000000;
}
.rightTitle {
    color: #8c8c8c;
    text-align: right;
}
section {
    margin: 0;
}
.bottom-left {
    position: relative;
    bottom: 8px;
    word-wrap: break-word;
    color: white;
}
.bar {
    font-weight: 900;
    color: red;
}
.bar2 {
    font-weight: 900;
    color: blue;
}
.news{
    float: left;
}  
.topnews1{
    float: left;
    width: 25%;
    background-image: url(02.jpg);   
} 
.topnews2{
    float: left;
    width: 15%;
    margin: 5px;
    background-image: url(03.jpg);
} 
.topnews3{
    float: left;
    width: 15%;
    margin: 5px;
    background-image: url(04.jpg);  
} 
.topnews4{
    float:left;
    width: 15%;
    margin: 5px;
    background-image: url(05.jpg);
}
.bottom1{
    float: left;
    Width: 33.3333%
}
.bottom2{
    float: left;
    width: 33.3333%
}
.bottom3{
    float: Left;
    width: 33.3333%;
}